---
// src/components/EducationCard.astro
const { title, details } = Astro.props;
---

<div
  class="bg-white p-6 rounded-lg shadow-md hover:shadow-lg transition-shadow"
>
  <h3 class="text-lg font-semibold text-gray-800 flex items-center gap-2">
    <svg
      xmlns="http://www.w3.org/2000/svg"
      class="h-5 w-5 text-indigo-600"
      viewBox="0 0 20 20"
      fill="currentColor"
    >
      <path
        d="M10.394 2.08a1 1 0 00-.788 0l-7 3a1 1 0 000 1.84L5.25 8.051a.999.999 0 01.356-.257l4-1.714a1 1 0 11.788 1.838L7.667 9.088l1.94.831a1 1 0 00.787 0l7-3a1 1 0 000-1.84z"
      ></path>
    </svg>
    {title}
  </h3>
  {
    Array.isArray(details) ? (
      <ul class="list-disc pl-6 text-gray-600 space-y-2 mt-2">
        {details.map((detail) => (
          <li>{detail}</li>
        ))}
      </ul>
    ) : (
      <p class="text-gray-600 mt-2">{details}</p>
    )
  }
</div>
